body {
    background-color: #F6F7F8;
}

.legal-notice-body {
    flex-direction: column;
}

.desktop-temp-container {
    max-width: 1440px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;
}

.leagl-notice-container {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding-top: 100px;
    padding-left: 250px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.legal {
    font-size: 61px;
}

.subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 120%;
}


@media(max-width: 800px) {
    .leagl-notice-container {
        padding-left: 0;
        padding-top: 150px;
        display: block;
        padding-bottom: 100px;
        height: max-content;
        padding-left: 34px;
        padding-right: 34px;
    }

    .display-unset {
        display: none;
    }

}

@media(max-height: 860px) {
    .legal-notice-body {
        height: 100vh;
    }

    .leagl-notice-container {
        display: block;
    }
}


@media(max-height: 1000px) {
    .side-bar { 
        position: fixed;
        top: unset;
        left: unset;
    }
}